@tailwind base;

@tailwind components;

@tailwind utilities;

.footer {
  width: 100%;
  /* margin: 0px 0px 0px 0px; */
  bottom: 0;
  /* left: 0; */
  /* position: fixed; */
  /* justify-content: flex-end; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
